<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-3">
      <a href="/add" class="btn btn-info">Thêm mới nhân viên</a>
      <br>
      <br>
      <table class="table">
        <thead>
          <th>STT</th>
          <th>Tên</th>
          <th>Địa chỉ</th>
          <th>Lương</th>
          <th>Quản trị</th>
        </thead>
        <tbody>
          
            {{#each arrNV}}
            <tr>
                <td>
                  <span class="stt"></span>
                  
                  <script>
                    var stt = {{@index}} + 1;
                    document.getElementsByClassName("stt")[{{@index}}].innerHTML = stt;
                  </script>

                </td>
                <td>{{this.ten}}</td>
                <td>{{this.diachi}}</td>
                <td>{{this.luong}}</td>
                <td>
                  <a href="/edit/{{this._id}}" class="btn btn-primary">Sửa</a>
                  <a href="/delete/{{this._id}}" onclick="return confirm('Are you sure?')" class="btn btn-danger">Xóa</a>
                </td>
                </tr>
            {{else}}
              Sorry, nobody is here.
            {{/each}}
            
        </tbody>
      </table>
    </div>
  </body>
</html>
